go 1.23.0

use (
	achievement-sdk
	ams-sdk
	basic-sdk
	challenge-sdk
	chat-sdk
	cloudsave-sdk
	csm-sdk
	gametelemetry-sdk
	gdpr-sdk
	group-sdk
	// service sdk modules
	iam-sdk
	inventory-sdk
	leaderboard-sdk
	legal-sdk
	lobby-sdk
	loginqueue-sdk
	match2-sdk
	platform-sdk
	reporting-sdk

	// samples
	samples/aws-lambda-example/UserStatsFunction
	samples/cli
	samples/custom-operation
	samples/getting-started
	samples/oidc-web
	samples/tic-tac-toe/aws-lambda
	samples/tic-tac-toe/client
	samples/ws-client-refresh-token
	seasonpass-sdk

	// common module
	services-api
	services-api/pkg/service
	services-api/pkg/service/iam

	// tests
	services-api/pkg/tests
	services-api/pkg/utils/auth/validator
	session-sdk
	sessionhistory-sdk
	social-sdk
	ugc-sdk
)
